<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>creata</title>
</head>
<body>

<form method="post">
    <h1>Nova Pessoa</h1>
    {% csrf_token %}
    {{form.as_p}}
    <button type="submit">Salvar</button>
    <a href="{% url 'list' %}">Voltar</a>
</form>

</body>
</html>