<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>delete</title>
</head>
<body>
<h1> Realmente deseja deletar {{pessoa.nome}} ?</h1>
<form method="post">
    {% csrf_token %}
<button type="submit">Sim</button>
<a href="{% url 'list' %">Não</a>

</form>


</body>
</html>