<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table border="10" bgcolor="green">
    <thead>
    <tr>
        <th>id</th>
        <th>Nome</th>
        <th>Sobrenome</th>
        <th>Idade</th>
    </tr>
    </thead>
    <tbody>
    {% csrf_token %}
    {% for pessoa in pessoa %}

    <tr>

        <td>{{pessoa.id}}</td>
        <td><a href="{% url 'update' pessoa.id %}">{{pessoa.nome}}</a>
        <td><a href="{% url 'delete' pessoa.id %}">Delete</a> </td>
        <td><a href = "{% url 'create' %}">Criar Usuário</a></td>
        <td>{{pessoa.sobrenome}}</td>
        <td>{{pessoa.idade}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

</body>
</html>