<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>update</title>
</head>
<body>

<form method="post">
    <h1>Update</h1>
    {% csrf_token %}
    {{form.as_p}}
    <button type="submit">Salvar</button>
    <a href="{% url 'list' %">voltar</a>
</form>

</body>
</html>